.chat-message {
  max-width: 70%;
  border-radius: 5px;
  background-color: rgb(26, 26, 26);
  padding: 1rem;
  width: max-content;
  text-align: left;
}

.chat-message.right {
  margin-left: auto;
}

.message-content {
  color: whitesmoke;
}

.time-stamp {
  font-size: 0.725rem;
  color: grey;
  right: -10px;
  margin-left: 1rem;
  text-align: right;
}
