.message-card {
  display: flex;
  width: 420px;
  height: 90px;
  padding: 0.35rem;
  border-radius: 1.25rem;
  background-color: rgb(31, 30, 29);
}

.pfp {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-wrapper {
  width: 70px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.name-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.215rem;

  .username {
    font-weight: 500;
    font-size: 1.265rem;
    color: whitesmoke;
  }

  .message-content {
    color: rgb(173, 173, 173);
  }
}

.date-unread {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0.205rem;
  padding-right: 30px;

  .date {
    color: whitesmoke;
    font-weight: 300;
  }

  .unread {
    box-sizing: border-box;
    background-color: rgb(181, 181, 181);
    padding: 0.25rem 0.625rem;
    border-radius: 20px;
  }
}
